extends item-layout
block content
  div.header
    div.home-menu.pure-menu.pure-menu-horizontal.pure-menu-fixed
      a(href="/").pure-menu-heading= title
      ul.pure-menu-list
        li.pure-menu-item
          a(href="/").pure-menu-link Home
        li.pure-menu-item
          a(href="/inventory").pure-menu-link Inventory
        if username == null
          li.pure-menu-item
            a(href="/login").pure-menu-link Sign In
        else
          li.pure-menu-item
            a(href="/logout").pure-menu-link !{username} Sign Out

  div.content-wrapper
    div.content.is-center

      form(action='submitReview',method='post').pure-form.pure-form-aligned
        fieldset
          div.pure-control-group
            input(id="name" name="name" type="text" placeholder="Name").login-input
          div.pure-control-group
            input(id="email" name="email" type="text" placeholder="Email").login-input
          div.pure-control-group
            input(id="comment" name="comment" type="textarea" placeholder="Comment").login-input
          div.pure-control-group
            input(id="rating" name="rating" type="text" placeholder="Rating").login-input
          div.pure-controls
            button(type="submit" value="Submit").pure-button.pure-button-primary.login-button Submit 

    div.footer.l-box.is-center <a href="https://developer.ibm.com/architecture/" target="_blank" style="text-decoration: none;color: white">IBM Cloud Architecture Center</a>
